[*.cs]

# IDE0025: Use expression body for properties
csharp_style_expression_bodied_properties = false

# IDE1006: Naming Styles
dotnet_diagnostic.IDE1006.severity = none

# IDE0044: Add readonly modifier
dotnet_diagnostic.IDE0044.severity = none
